    body {
        background-image: url('giphy\ \(4\).gif');
        background-size: cover;
    
    }
    
 img {
     size: 10px;
 }

    
    header { 
    position: static;
    
    
    }


    .container {
    color:black;   
    width: 100%;
    }

    .form-group {
        width: 80%;
        padding-left: 20%;

    }

    h1 {
       
        font-family: Geneva;
        font-size: 50px;
        color: antiquewhite;
    }

    p {
       
        font-family: Geneva;
        font-size: 19px;
        text-indent: 50px;
        color: antiquewhite;
        
    }
    
    
    @media screen and (max-width: 980px){
        #container{
            width: 100%;
    }

    @media screen and (max-width: 768px){

}

    @media screen and (max-width: 640px){



}
    }
    